.App {
  text-align: center;
}


.App-header {
  background-color: #445a85;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.rightside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 15%;
  

}

.leftside {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 15%;
}
.country {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}