.App {
  text-align: center;
}


.App-header {
  background-color: #445a85;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.rightside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 15%;
  

}

.leftside {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 15%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #ffffff;
}

td {
  background-color:#ffffff;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}